<div class="page-wrapper">
<div class="form-container">
  <div class="form-wrapper">
    <div *ngIf="statusMessage" class="alert fade show" [ngClass]="{'alert-success': isSuccess, 'alert-danger': !isSuccess}">
      {{ statusMessage }}
    </div>
    <h2>Registration</h2>
    <form (ngSubmit)="register()" class="row g-3">
      <!-- Full Name -->
      <div class="col-md-4">
        <label for="fullName" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="fullName"
          [(ngModel)]="fullName"
          name="fullName"
          [ngClass]="{'is-invalid': validationErrors.fullName, 'is-valid': !validationErrors.fullName && fullName}"
          placeholder="Enter your full name"
          required
        />
        <div *ngIf="validationErrors.fullName" class="invalid-feedback">
          {{ validationErrors.fullName }}
        </div>
      </div>

      <div class="col-md-4">
        <label for="telephone" class="form-label">Telephone</label>
        <input
          type="text"
          class="form-control"
          id="telephone"
          [(ngModel)]="telephone"
          name="telephone"
          [ngClass]="{'is-invalid': validationErrors.telephone, 'is-valid': !validationErrors.telephone && telephone}"
          placeholder="Enter your phone number"
          required
        />
        <div *ngIf="validationErrors.telephone" class="invalid-feedback">
          {{ validationErrors.telephone }}
        </div>
      </div>

      <div class="col-md-4">
        <label for="adress" class="form-label">Addresse de cabinet</label>
        <input
          type="text"
          class="form-control"
          id="adress"
          [(ngModel)]="adress"
          name="adress"
          [ngClass]="{'is-invalid': validationErrors.adress, 'is-valid': !validationErrors.adress && adress}"
          placeholder="Enter your address"
          required
        />
        <div *ngIf="validationErrors.adress" class="invalid-feedback">
          {{ validationErrors.adress }}
        </div>
      </div>

      <div class="col-md-4">
        <label for="cin" class="form-label">Cin:</label>
        <input
          type="text"
          class="form-control"
          id="cin"
          [(ngModel)]="cin"
          name="cin"
          [ngClass]="{'is-invalid': validationErrors.cin, 'is-valid': !validationErrors.cin && cin}"
          placeholder="Enter your cin"
          required
        />
        <div *ngIf="validationErrors.cin" class="invalid-feedback">
          {{ validationErrors.cin }}
        </div>
      </div>

      <!-- Email -->
      <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="email"
          name="email"
          [ngClass]="{'is-invalid': validationErrors.email, 'is-valid': !validationErrors.email && email}"
          placeholder="Enter your email"
          required
        />
        <div *ngIf="validationErrors.email" class="invalid-feedback">
          {{ validationErrors.email }}
        </div>
      </div>

      <!-- Password -->
      <div class="col-md-4">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="password"
          name="password"
          [ngClass]="{'is-invalid': validationErrors.password, 'is-valid': !validationErrors.password && password}"
          placeholder="Enter your password"
          required
        />
        <div *ngIf="validationErrors.password" class="invalid-feedback">
          {{ validationErrors.password }}
        </div>
      </div>

      <!-- Speciality -->
      <div class="col-md-4">
        <label for="specialite" class="form-label">Speciality</label>
        <select
          type="text"
          class="form-control"
          id="specialite"
          [(ngModel)]="specialite"
          name="specialite"
          [ngClass]="{'is-invalid': validationErrors.specialite, 'is-valid': !validationErrors.specialite && specialite}"
          placeholder="Enter your speciality"
          required
        >
          <option value="" disabled selected>Select Speciality</option>
          <option value="Diabete">Diabète</option>
          <option value="Hypertension">Hypertension</option>
          <option value="Cholesterol">Cholesterol</option>
        </select>
        <div *ngIf="validationErrors.specialite" class="invalid-feedback">
          {{ validationErrors.specialite }}
        </div>
      </div>

      <div class="col-md-4">
        <label for="numeroIdentification" class="form-label">Numero Identificateur</label>
        <input
          type="text"
          class="form-control"
          id="numeroIdentification"
          [(ngModel)]="numeroIdentification"
          name="numeroIdentification"
          [ngClass]="{'is-invalid': validationErrors.numeroIdentification, 'is-valid': !validationErrors.numeroIdentification && numeroIdentification}"
          placeholder="Enter your IdentificatorNumber"
          required
        />
        <div *ngIf="validationErrors.numeroIdentification" class="invalid-feedback">
          {{ validationErrors.numeroIdentification }}
        </div>
      </div>

      <!-- Submit Button -->
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
</div>

