<div class="container">
  <h2>📋Add prescription</h2>
  <form [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">
    
    <div>
      <label>Date</label>
      <input type="date" formControlName="date" />
    </div>

    <div formArrayName="medicaments">
      <h3>Medicaments</h3>
      <div *ngFor="let med of medicaments.controls; let i = index" [formGroupName]="i">
        <input type="text" placeholder="Name" formControlName="name" />
        <input type="text" placeholder="Dose" formControlName="dose" />
        <input type="text" placeholder="Frequency" formControlName="frequency" />
        <input type="text" placeholder="Period" formControlName="duree" />
        <button type="button" class="btn-delete" (click)="removeMedicament(i)">Delete</button>
      </div>
      <button type="button" (click)="addMedicament()">Add medicament</button>
    </div>

<div>
  <h3>Indicators</h3>

  <!-- Dropdown pour choisir un indicateur -->
  <select formControlName="selectedIndicateur">
    <option value="" disabled>-- Choose indicators--</option>
    <option *ngFor="let ind of allIndicateurs" [value]="ind" >
      {{ ind }}
    </option>
  </select>
  <button type="button" (click)="addIndicateur()" [disabled]="!prescriptionForm.get('selectedIndicateur')?.value">Add indicator</button>

  <!-- Liste des indicateurs sélectionnés -->
  <ul>
    <li *ngFor="let indCtrl of indicateurs.controls; let i = index">
      {{ indCtrl.value }}
      <button type="button" class="btn-delete" (click)="removeIndicateur(i)">Delete</button>
    </li>
  </ul>
</div>




    <div>
      <label>Description</label>
      <input type="text" formControlName="description" />
    </div>

    <button type="submit" class="btn-submit" [disabled]="prescriptionForm.invalid">
      {{ editingPrescriptionId ? 'Update Prescription' : 'Add Prescription' }}
    </button>
  </form>

  <p>{{ responseMessage }}</p>
</div>
