<div class="table-container">
  <h2>👩‍⚕️ Patient List</h2>
  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Birth Date</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.User?.fullName }}</td>
        <td>{{ patient.date_naissance }}</td>
        <td>{{ patient.genre }}</td>
        <td>
          <button (click)="consult(patient.id)">Consult</button>
          <button (click)="prescribe(patient.id)">Prescription</button>
          <button *ngIf="patient.User.isApproved" class="btn-suspend" (click)="suspend(patient.id)">Suspend</button>
          <button *ngIf="!patient.User.isApproved" class="btn-activate" (click)="activate(patient.id)">Activate</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
