<nav  class="navbar" [ngClass]="{'vertical-navbar': (isPatient() || isMedecin()) && isAuthenticated}">
  <div class="navbar-brand">
    <span class="app-title">MyHealthPath</span>
  </div>

  <ul class="navbar-links">
    <!-- Dashboard for authenticated users -->
    <ng-container *ngIf="isAuthenticated">
      <li><a routerLink="/dashboard" class="nav-link dashboard-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>
    </ng-container>

    <ng-container *ngIf="isAuthenticated&&isAdmin()">
      <li><a routerLink="/unapproved-medecins" class="nav-link dashboard-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Unapproved Medecins</a></li>
    </ng-container>

    <!-- Home and About for non-authenticated or patient users -->
    <ng-container *ngIf="!isAuthenticated || isPatient()">
      <li><a routerLink="/home" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/about" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
    </ng-container>

    <!-- Medecin-specific Patient Dropdown -->
    <ng-container *ngIf="isAuthenticated && isMedecin()">
      <li class="nav-item patient-btn">
        <a href="javascript:void(0);" class="nav-link patient-link">
          Patient
        </a>
        <ul class="patient-dropdown">
          <li><a routerLink="/add-patient" class="nav-link">Add Patient</a></li>
          <li><a routerLink="/patient-list" class="nav-link">My Patients</a></li>
        </ul>
      </li>
      <a routerLink="/suivi-dashboard" class="nav-link">
        Suivi de mes patients
      </a>
    </ng-container>

    <!-- Authentication links for non-authenticated users -->
    <ng-container *ngIf="!isAuthenticated">
      <li><a routerLink="/login" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a></li>
      <li><a routerLink="/register" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Register</a></li>
    </ng-container>

    
  </ul>

  <!-- Logout for authenticated users -->
  <ng-container *ngIf="isAuthenticated">
    <div class="logout-container">
      <a (click)="logout()" class="nav-link logout-link">Logout</a>
    </div>
  </ng-container>
</nav>
