<div *ngIf="profile; else errorTpl">
  <h2>Profil Patient</h2>
  <p><strong>Nom complet:</strong> {{ profile.fullName }}</p>
  <p><strong>Email:</strong> {{ profile.email }}</p>
  <p><strong>Genre:</strong> {{ profile.genre }}</p>
  <p><strong>Cin:</strong> {{ profile.cin }}</p>
  <p><strong>Taille:</strong> {{ profile.taille }}</p>
  <p><strong>Poids:</strong> {{ profile.poids }}</p>
  <p><strong>Telephone:</strong> {{ profile.telephone }}</p>
  <p><strong>Address:</strong> {{ profile.adress }}</p>
  <p><strong>Âge:</strong> {{ calculateAge(profile.date_naissance) }} ans</p>

  <button (click)="redirectToUpdate()" class="btn btn-primary">Modifier Profil</button>
</div>

<ng-template #errorTpl>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <p *ngIf="!errorMessage">Chargement du profil...</p>
</ng-template>


