<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label>FullName</label>
    <input formControlName="fullName" />
  </div>
  <div>
    <label>Email address</label>
    <input formControlName="email" type="email" />
  </div>
  <div>
    <label>Phone number</label>
    <input formControlName="telephone" />
  </div>
  <div>
    <label>Address</label>
    <input formControlName="adress" />
  </div>
  <div>
  <label>Gender</label>
  <select formControlName="genre">
    <option value="">-- Choisir --</option>
    <option value="homme">Homme</option>
    <option value="femme">Femme</option>
  </select>
</div>

  <div>
    <label>Birth date</label>
    <input formControlName="date_naissance" type="date" />
  </div>
  <div>
    <label>Height</label>
    <input formControlName="taille" type="number" />
  </div>
  <div>
    <label>Weight</label>
    <input formControlName="poids" type="number" />
  </div>
  <div>
  <label>Profil picture</label>
  <input type="file" (change)="onFileSelected($event)" />
</div>
  <div>
    <label>CIN</label>
    <input formControlName="cin" />
  </div>

  <div>
  <label>Password</label>
  <input formControlName="password" type="password" />
</div>

  <button type="submit" [disabled]="loading">Mettre à jour</button>
</form>

<div *ngIf="successMsg" style="color: green;">{{ successMsg }}</div>
<div *ngIf="errorMsg" style="color: red;">{{ errorMsg }}</div>
