<div *ngIf="!loading && !error" class="wrapper">
  <h2 class="heading">🩺 Patients </h2>
  <ul>
    <li *ngFor="let patient of patients" class="patient-card">
      <div class="info">
        <div><strong>FullName:</strong> {{ patient.User.fullName }}</div>
        <div class="status-container">
          <div class="status-graph" [ngClass]="patient.state.toLowerCase()">
            <div class="emoji">
              <span *ngIf="patient.state === 'Danger'">⚠️</span>
              <span *ngIf="patient.state === 'Normal'">💛</span>
              <span *ngIf="patient.state === 'Good'">🌟</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="(prescriptionsMap[patient.id] || []).length > 0" class="prescriptions">
        <h4>📋 Prescription Dates:</h4>
        <ul>
          <li *ngFor="let prescription of prescriptionsMap[patient.id]" class="prescription-item">
            {{ prescription.date }} {{ prescription.description }}
            <a 
              [routerLink]="['/patient-dashboard', patient.id, prescription.id, 'statistiques']" 
              class="btn suivi prescription-btn"
            >
              Suivi
            </a>
          </li>
        </ul>
      </div>

      <div *ngIf="(prescriptionsMap[patient.id] || []).length === 0">
        <em>No prescriptions available.</em>
      </div>

    </li>
  </ul>
</div>
