<div class="dashboard-card">
  <h2 class="chart-title">Users Statistics</h2>
  <div class="chart-container animated-chart">
    <canvas baseChart
            [data]="globalChartData"
            [options]="globalChartOptions"
            [type]="globalChartType">
    </canvas>
  </div>
</div>

<div class="dashboard-card">
  <h2 class="chart-title">Registrations per month</h2>
  <div class="chart-container animated-chart">
    <canvas baseChart
            [data]="monthlyChartData"
            [options]="monthlyChartOptions"
            [type]="monthlyChartType">
    </canvas>
  </div>
</div>